.gallery{
    background-color: black;
    text-align: center;
    margin-top: -3vh;
    padding-bottom: 18vh;
}

.gallery-h3{
color: #999;
padding-top: 8vh;
}

.gallery-h2{
 color: #fff;
 font-size: 2.8vw;
 margin-top: -3vh;
 margin-bottom: 3vh;
}

.gallery-photos{
    color: white;
    overflow: hidden;
}

.CRF450RX-container{
    margin: 0 45vw 69vh 14vw;
    width: 352px;
    height: 230px;
    overflow: hidden;
    box-shadow: 0 0 8px 8px red inset;
}
.CRF450RX{
    width: 352px;
    height: 230px;
    transition: all 1s ease;
}

.CRF450RX:hover{
    overflow: hidden;
    width: 375px;
    height: 250px;
}

.CRF450RX-title{
   margin-top: -27px; 
   margin-left: -276px;
}
.CRF250R-container{
    margin: -104.4vh 0vw 0vh -0.1vw;
}
.CRF250R{
    width: 23.25%;
    height: 253px;
}
.CRF250R-title{
    margin-top: -27px; 
    margin-left: -280px;
 }

.CRF450L-container{
    margin: -37vh 0 69.6vh 47.7vw;

}
.CRF450L{
    width: 45%;
    height: 526px; 
}
.CRF450L-title{
    margin-top: -27px; 
    margin-left: -282px;
 }
.CRF250RX-container{
    margin: -104.5vh 24.45vw 1.75vh .25vw;    

}
.CRF250RX{
    width: 63.5%;
    height: 255px;
}
.CRF250RX-title{
    margin-top: -27px; 
    margin-left: -645px;
 }
.CRF450X-container{
    margin: 0 59vw 22.35vh 11vw;

}
.CRF450X{
    width: 81%;
    height: 252px;
}
.CRF450X-title{
    margin-top: -27px; 
    margin-left: -285px;
 }
.CRF450RWE-container{
    margin: -56.9vh 0 0 24vw;

}
.CRF450RWE{
    width: 62.5%;
    height: 252px;
}
.CRF450RWE-title{
    margin-top: -27px; 
    margin-left: -625px;
 }

 /* https://stackoverflow.com/questions/24709915/blur-the-edges-of-an-image-or-background-image-with-css
 https://designshack.net/articles/css/joshuajohnson-2/
 https://stackoverflow.com/questions/20295042/overflow-hidden-is-not-working-with-images
 https://powersports.honda.com/offroad/competition.aspx?&cid=main_reprise/google/Brand_Dirt+Bike_Exact/Brand+-+Dirt+Bike/honda%20dirt%20bike&mkwid=sOazavq78|dc_pcrid_289910014023_pkw_honda%20dirt%20bike_pmt_e
  */



