.base{
    background-color: #2e2e2e;
    padding-bottom: 34.5px;
}
.base-grid{
    display: grid;
    grid-template-columns: repeat(6. 1fr);
    grid-auto-rows: 54.5px;
    background-image: url('https://powersports.honda.com/images/Adventure/bg/bg-stripe-tile-gray.jpg');
}

.base1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    border-right: 1px solid #2e2e2e;
    padding-right: 176px;
}

.base2{
    text-overflow: initial;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: -10px;
    border-right: 1px solid #2e2e2e;
}
.base3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: -10px;
    border-right: 1px solid #2e2e2e
}
.base4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: -10px;
    border-right: 1px solid #2e2e2e
}
.base5{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: -10px;
}
.base6{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    border-left: 1px solid #2e2e2e;
    padding-left: 176px;
}
.base7{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    margin-top:10px;
    border-right: 1px solid #2e2e2e;
    border-top: 1px solid #2e2e2e;
}
.base8{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
    margin-top:10px;
    border-top: 1px solid #2e2e2e;
}

.base-ul{
    display: grid;
    grid-auto-columns: 200px;
    padding-top: 15px;
}

.base-li{
    color: #f4f4f4;
    font-family:  "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 5px 0 20px 0;
}

.base-ul2{
    margin-top: 20px;
}

.base7-content{
    display: flex;
}

.base7-pindrop{
    height: 3.7vh;
    margin: 36px 0 0 31px;
}
.base7-h3{
color:#f4f4f4;
font-size: 13px;
font-style: italic;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 100;
margin: 40px 25px 0 10px;
}
.base7-input{
    background-color: #2e2e2e;
    border: none;
    width: 61.5%;
    height: 55px;
    margin-top: 20px;
    font-style: italic;
    font-size: 17.5px;
    text-indent:29px;
    color: #ccc;
}
i{
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3.5px;  
  margin-top: 43px;
  margin-left: -25px;
  margin-bottom: 40px;

}
.arrow{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.base8{
    display: flex;
}
.base8-h3{
    color:#f4f4f4;
    font-size: 13px;
    font-style: italic;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin: 40px 0 0 85px; 
}
.base8-icons{
    margin: 32.5px 0 0 15px;
    height: 30px;
}
.page-end{
    width: 100%;
    background-color: #2e2e2e;
}
.base-disclaimer{
    text-align: center;
    color: #cb1200;
    margin-top: 35px;
}