.top-nav{
    display: flex;
    width: 100%;
    height: 60px;
    background-image: url('https://powersports.honda.com/images/Adventure/bg/bg-stripe-tile.jpg');
}
.nt-logo{
    width: 183.89px;
    height: 100%;
    margin-left: 15.5px;
    background-color: #db202b;
    border-right: 0.35px solid rgba(0, 0, 0, 0.245);
    border-left: 0.35px solid rgba(0, 0, 0, 0.245);
}
.nt-img{
    margin-top: 16.5px;
    margin-left: 23.75px;
    width: 134.55px;
    height: 22.5px;
}
.hamburger-wrapper{
    height: 100%;
    width:63px;
    border: solid #bd1d23;
    border-width: 0 1px;
    margin-left: 95px;
}
.hamburger{
    width: 32px;
    height: 40%;
    background-image: url("https://powersports.honda.com/images/Adventure/icons/hamburger-light.png");
    background-size: 32px;
    margin-top: 18px;
    margin-left: 15px;
}
.hamburger-wrapper-active{
    height: 100%;
    width:63px;
    border: solid #bd1d23;
    border-width: 0 1px;
    margin-left: 95px;
}
.hamburger-active{
    width: 32px;
    height: 40%;
    transform: rotate(90deg);
    background-image: url("https://powersports.honda.com/images/Adventure/icons/hamburger-light.png");
    background-size: 32px;
    margin-top: 18px;
    margin-left: 15px;
    transform: rotate(90deg);
}
.nt-menu{
    margin: 2.8vh 0 0 -1.9vw;
    display: flex;
    color: #fff;
    font-family: Helvetica;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    font-size: 12.5px;
    margin-right: 1.75vw;
}

.nt-find-dealer-container{
    height: 2.2vh;
    width: 9.15vw;
    display: flex;
    border:  1px solid #fff;
    padding: 2.2vh .65vw 2.2vh 2vw;
    margin: -.3vh 0 3vh 0.15vw;
    font-size: 13px;
}

.pin-drop{
    height: 3.7vh;
    margin: -.8vh .5vw 0 0;
}

@media(min-width:700px){
    .top-nav{
        display: flex;
        width: 100%;
        height: 86px;
        margin-bottom: 35px;
        background-image: url('https://powersports.honda.com/images/Adventure/bg/bg-stripe-tile.jpg');
    }
    .nt-logo{
        width: 275px;
        height: 100%;
        margin-left: 35px;
        background-color: #db202b;
        border-right: 0.35px solid rgba(0, 0, 0, 0.245);
        border-left: 0.35px solid rgba(0, 0, 0, 0.245);
    }
    .nt-img{
        margin-top: 22px;
        margin-left: 30px;
        width: 210px;
        height: 33px;
    }
    .hamburger-wrapper{
        height: 100%;
        width:93px;
        border: solid #bd1d23;
        border-width: 0 1px;
        margin-left: 327px;
    }
    .hamburger{
        width: 40px;
        height: 37px;
        background-image: url("https://powersports.honda.com/images/Adventure/icons/hamburger-light.png");
        background-size: 50px;
        margin-top: 25px;
        margin-left: 27px;
    }
    .hamburger-wrapper-active{
        height: 100%;
        width:93px;
        border: solid #bd1d23;
        border-width: 0 1px;
        margin-left: 327px;
    }
    .hamburger-active{
        width: 40px;
        height: 37px;
        transform: rotate(90deg);
        background-image: url("https://powersports.honda.com/images/Adventure/icons/hamburger-light.png");
        background-size: 50px;
        margin-top: 25px;
        margin-left: 27px;
    }
    .nt-menu{
        margin: 2.8vh 0 0 -1.9vw;
        display: flex;
        color: #fff;
        font-family: Helvetica;
    }
    
    ul{
        display: flex;
        list-style-type: none;
    }
    
    li{
        font-size: 12.5px;
        margin-right: 1.75vw;
    }
    
    .nt-find-dealer-container{
        height: 2.2vh;
        width: 9.15vw;
        display: flex;
        border:  1px solid #fff;
        padding: 2.2vh .65vw 2.2vh 2vw;
        margin: -.3vh 0 3vh 0.15vw;
        font-size: 13px;
    }
    
    .pin-drop{
        height: 3.7vh;
        margin: -.8vh .5vw 0 0;
    }
}
@media(min-width:800px){
.top-nav{
    display: flex;
    width: 100%;
    height: 12.1vh;
    margin-bottom: 0;
    background-image: url('https://powersports.honda.com/images/Adventure/bg/bg-stripe-tile.jpg')
}

.nt-img{
    width: 30.6%;
    margin: .3vh 0 0 13.65vw;
    padding: 2.7vh 3vw 4.25vh 2vw;
    background-color: #db202b;
    border-right: 0.35px solid rgba(0, 0, 0, 0.245);
    border-left: 0.35px solid rgba(0, 0, 0, 0.245);
}

.nt-menu{
    margin: 2.8vh 0 0 -1.9vw;
    display: flex;
    font-family: Helvetica;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    font-size: 12.5px;
    margin-right: 1.75vw;
}

.a-nt{
    color: #fff;
}
.nt-find-dealer-container{
    height: 2.2vh;
    width: 9.15vw;
    display: flex;
    border:  1px solid #fff;
    padding: 2.2vh .65vw 2.2vh 2vw;
    margin: -.3vh 0 3vh 0.15vw;
    font-size: 13px;
}

.pin-drop{
    height: 3.7vh;
    margin: -.8vh .5vw 0 0;
}
}