
.video-page{
    text-align: center;
}

.performance-line-wrapper{
    height: 150px;
    width: 100%;
    padding-bottom: 11.1vh;
}

.performance-line-image{  
    width: 100%;
}
.video-h3{
    color:#db202b;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.video-h2{
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 800; 
   font-size: 30px;
   margin-top: -3vh;
   line-height: 1.1;
}
.video-paragraph{
    display: block;
    margin: 0 3vw;
    line-height: 1.42857;
    color: #666;
    font-weight: 500;
    font-size: 15.75px;
}

.video-button{
    width: 80vw;
    height: 9vh;
    border: none;
    margin-top: 7vh;
    background-color: #cb1200;
}

.video-button-link{
    color: #fff;
    font-weight: 600;
    font-family: Helvetica;
    font-size: 14.5px;
    text-decoration: none;

}

@media(min-width:700px){
    .video-page{
        text-align: center;
    }
    
    .video-wrapper{
        height: 431px;
        width: 100%;
        padding-bottom: 68px;
    }
    
    .video{  
        width: 100%;
    }
    .video-h3{
        color:#db202b;
        font-weight: 700;
        font-size: 25.25px;
    }
    
    .video-h2{
        font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
       font-weight: 800; 
       font-size: 40px;
       margin-top: -24px;
       line-height: 1.1;
    }
    .video-paragraph{
        color: #666;
        margin: -1.4vh 3.8vw -1vh 3.8vw;
    }
    
    .video-button{
        width: 298px;
        height: 65px;
        border: none;
        margin-top: 5.5vh;
        background-color: #cb1200;
        color: #fff;
        font-weight: 600;
        font-family: Helvetica;
        font-size: 1vw;
    }
}

@media(min-width:800px){
.video-page{
    text-align: center;
}

.video-wrapper{
    height: 850px;
    width: 100%;
    padding-bottom: 4vh;
}

.video{  
    width: 100%;
}
.video-h3{
    color:#db202b;
    font-weight: 700;
    font-size: 25.25px;
}

.video-h2{
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 800; 
   font-size: 40px;
   margin-top: -3.5vh;
   line-height: 1.1;
}
.video-paragraph{
    color: #666;
    margin: -1.5vh 13.5vw -1vh 13.5vw;
    font-size: 16px;
    font-weight: 400;
}

.video-button{
    width: 19.5vw;
    height: 8.25vh;
    border: none;
    margin-top: 7.5vh;
    background-color: #cb1200;
    color: #fff;
    font-weight: 600;
    font-family: Helvetica;
    font-size: 1vw;
}
}